<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Изменение данных о самолете</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/form.css}"/>

    <script th:src="@{/static/js/admin/aircraft/service.js}"></script>
    <script th:src="@{/static/js/admin/aircraft/controller.js}"></script>
</head>
<body>
<header th:replace="fragments/header :: header(aircraft, admin)"></header>

<div class="form-body big-form">
    <nav class="breadcrumb-nav">
        <div class="nav-wrapper">
            <div class="col s12">
                <a th:href="@{/admin/aircraft}" class="breadcrumb">Реестр самолетов</a>
                <a th:href="@{'/admin/aircraft/' + ${aircraft.id}}" th:text="'№' + ${aircraft.id}" class="breadcrumb"></a>
            </div>
        </div>
    </nav>
    <form id="aircraft-form" name="aircraft-form" class="form-horizontal" th:method="PATCH" th:action="@{/admin/aircraft}">
        <div th:replace="fragments/card/aircraft :: aircraftFields"></div>
        <div class="buttons-area">
            <button onclick="AircraftController.repairAircraft()"
                    th:if="${action == 'admin/aircraft/' && aircraft.status != T(org.communis.javawebintro.enums.AircraftStatus).REPAIR}"
                    type="button" class="waves-effect waves-light btn red">Отключить
            </button>
            <button onclick="AircraftController.available()"
                    th:if="${action == 'admin/aircraft/' && aircraft.status == T(org.communis.javawebintro.enums.PilotStatus).REPAIR}"
                    type="button" class="waves-effect waves-light btn green">Активировать
            </button>
            <button onclick="AircraftController.deleteAircraft()"
                    type="button" class="waves-effect waves-light btn">Удалить</button>
        </div>
    </form>
</div>

</body>
</html>