<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Реестр LDAP-серверов</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/filter.css}"/>

    <script th:src="@{/static/lib/floatThead/jquery.floatThead.min.js}"></script>
    <script th:src="@{/static/js/filter.js}"></script>
</head>
<body>
<header th:replace="fragments/header :: header(aircraft, admin)"></header>

<div class="col s12 main-container">
    <form th:action="@{/admin/aircraft}" method="get" th:object="${filter}">
        <div class="filter-area">
            <div th:replace="fragments/filter :: filter('/admin/aircraft/add', '/admin/aircraft', 'Реестр самолетов')"></div>
            <div th:class="${'filter-content '+ (filter.isFilterExist() ? 'filter-open' : '')}">
                <div class="row row-eq-height">
                    <div class="col s3">
                        <div class="input-field select-form">
                            <select th:field="*{status}">
                                <option th:value="${null}">Все</option>
                                <option th:each="s : ${statuses}"
                                        th:value="${s.toString()}"
                                        th:text="${s.getStringName()}"></option>
                            </select>
                            <label>Статус:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="table-area">
        <table class="bordered">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Тип</th>
                <th>Компания</th>
                <th>Состояние</th>
            </tr>
            </thead>
            <tbody>
            <tr th:class="${aircraft.isAvailable()} ? 'clickable' : 'clickable inactive-row' " th:each="aircraft : ${page}"
                th:onclick="'request(\'' + @{|/admin/aircraft/${aircraft.id}|}+ '\');'">
                <td th:text="${aircraft.aircraftName.getName()}"></td>
                <td th:text="${aircraft.aircraftType.getName()}"></td>
                <td th:text="${aircraft.getCompany().getName()}"></td>
                <td th:text="${aircraft.status.getStringName()}"></td>
            </tr>
            </tbody>
        </table>
        <div class="col s6 no-padding page-info">
            <div sd:pagination-summary="">info</div>
        </div>
    </div>
    <div th:replace="fragments/pagination :: pagination"></div>
</div>

</body>
</html>